* {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a { cursor: pointer; }
a:hover { opacity: 0.6; }
.gradiente {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgb(0, 26, 44) 100%);
}

/*CONTAINER GLOBAL*/
#global {
    justify-content: flex-start;
    height: 100vh;
    padding: 3%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 50%, rgb(0, 26, 44) 100%);
}
#global .txt { 
    min-height: 30%;
    text-align: center;
 }
#global .txt h1 { font-size: 200%; }
fieldset {
    max-width: 400px;
    margin: 0px auto;
}
input, .input {
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #fff;
}
#global .submite { cursor: pointer; }
#global .submite:hover { opacity: 0.6; }
#global, .submite, a {
    color: #fff;
}